<div class="b-content results" id="realizations">
    <div class="row">
        <div class="content-wrapper">
            <div class="b-content-post col-lg-12 col-md-12 col-sm-12">
                <div class="b-content-post_header">
                    <h1 class="blueText">Oferta</h1>
                    <br>
                    <br>
                </div>
                <div class="b-content-post_text pull-left col-lg-6 col-md-6 col-sm-6">
                    Wychodząc naprzeciw oczekiwaniom naszych klientów, oferujemy szereg innowacyjnych narzędzi marketingowych, wspierających promocję Twojej firmy. Począwszy od produkcji aplikacji mobilnych, poprzez tworzenie gier promocyjno-marketingowych, kończąc na kampaniach, wykorzystujących Kinect (sensor ruchu), ułatwiamy dotarcie do klientów i grup, na których Ci zależy. Dzięki produktom MobiTouch możesz stworzyć unikatową ofertę, informującą potencjalnego klienta o tym, co Cię wyróżnia, a w konsekwencji przyczyniającą się do aktywności i zaangażowania odbiorców. Indywidualne rozwiązania, które tworzymy z myślą o wsparciu kampanii marketingowych, obejmują:
                    <br><br>

                    Przygotowanie na Kinect aplikacji i gier, dzięki którym stworzysz kampanię promocyjną, przyciągając uwagę odbiorców i oferując przy tym dobrą zabawę.

                    Wsparcie obecności marki w Social media i dystrybucję treści reklamowych w tym kanale informacyjnym.

                    Zaprojektowanie responsywnych stron internetowych, dzięki którym Twoja witryna zyska nowy, przejrzysty wygląd.

                    Stworzenie dla aplikacji mobilnych reklam wideo, które ukazują funkcjonalność i zalety produktów.

                    Wsparcie kampanii marketingowych poprzez integrację tradycyjnych form reklamy z możliwościami, oferowanymi przez mobile marketing.

                    Zapraszamy do zapoznania się ze szczegółową ofertą naszej firmy.
                </div>
                <div class="b-content-post_image col-lg-6 col-md-6 col-sm-6 pull-right">
                    <img src="../../images/Offer/oferta_70.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="content-wrapper">
            <div class="b-content-post col-lg-12">
                <div class="b-content-post_header pull-right">

                </div>
                <div class="b-content-post_text pull-right col-lg-6">
                    <br><br>
                    <h1 class="blueText pull-right ">Ostatnia realizacja</h1>
                    <br><br><br>
                    <h2>Mr.Vintage</h2>
                    <br>
                    Aplikacja Mr.Vintage jest mobilną wersją najpopularniejszego w Polsce bloga o modzie męskiej, wzbogaconą o push powiadomienia do każdego nowego wpisu, udostępnianie w mediach społecznościowych oraz możliwość dodawania najlepszych wpisów do zakładki ulubione. W ramach prac nad aplikacją mobilną przygotowaliśmy również Web service.
                </div>
                <div class="b-content-post_image col-lg-5 pull-left">
                    <img src="../../images/Realizations/600.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="content-wrapper">
            <div class="b-content-post col-lg-12">
                <div class="b-content-post_header">
                    <h1 class="blueText">Aktualności</h1>
                    <br>
                    <h2>MobiTouch na Imagine Cup 2014 - dla nas nie ma granic!</h2>
                </div>
                <div class="b-content-post_text pull-left col-lg-8">
                    Krajowe finały Imagine Cup już za nami. Do półfinałów światowych przeszły trzy polskie drużyny, po jednej z każdej kategorii: Projekty Społeczne (World Citizenship), Innowacje (Innovation) oraz Gry (Games). Naszej drużynie Mobi Games nie udało się przejść do następnego etapu. Jednak sam udział w konkursie, tak jak i zeszłego roku, był świetną okazją na zdobycie nowego doświadczenia oraz nawiązania obiecujących kontaktów biznesowych.
                    <br>
                    <br>
                    <div class="btn btn-danger">See more</div>
                </div>

                <div class="b-content-post_image col-lg-4">
                    <img src="../../images/News/mini.jpg" class="miniImg  pull-right">
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="b-partners col-lg-12" id="partners">
            <div class="content-wrapper" >
                <div class="b-partners_header" >
                    <h1 class="blueText">Partnerzy</h1>
                    <br>
                </div>
                <div class="b-content-post_text">
                    W ramach naszej działalności współpracujemy z wieloma różnymi podmiotami przy realizacji naszych projektów. Cenimy sobie wzajemny szacunek oraz terminowość powierzonych nam zadań.
                    <br><br>
                </div>
                <div class="b-partners-coworking col-lg-12">


                    <div class="b-partners-coworking_elem col-lg-4">
                        <h4 class="b-partners-coworking_elem-header">WSIiZ i InnoFund</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
                            InnoFund to fundusz inwestycyjny, działający przy Wyższej Szkole Informatyki i Zarządzania w Rzeszowie, posiadający udziały w MobiTouch Sp. z o.o. Ponadto współpracujemy z WSIiZ przy licznych projektach oraz przedsięwzięciach.
                        </span>
                        <img src="../../images/Cooperation/107617798d7417093c1410f835573761.png" class="b-partners-coworking_elem-img pull-right">
                    </div>

                    <div class="b-partners-coworking_elem col-lg-4 pull-right">
                        <h4 class="b-partners-coworking_elem-header">Fabryka e-biznesu</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
                            Fabryka e-biznesu jest nowoczesną agencją kreatywną, specjalizującą się w budowaniu marki oraz dostarczaniu innowacyjnych rozwiązań. Firmowy zespół składa się z utalentowanych specjalistów, zajmujących się strategią, kreacją oraz nowoczesnymi technologiami informatycznymi.
                        </span>
                        <img src="../../images/Cooperation/f950cf73a5f601dbc1aceea9367bb4de.png" class="b-partners-coworking_elem-img pull-right">
                    </div>

                    <div class="b-partners-coworking_elem col-lg-4 col-lg-offset-3">
                        <h4 class="b-partners-coworking_elem-header">Grupa Reklamowa GreeMi</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
                            Grupa Reklamowa GreeMi zajmuje się reklamą wizualną dla firm, organizacji i instytucji. GreeMi istnieje od 2005 roku i od samego początku specjalizuje się w kompleksowej obsłudze, której założeniem jest kreowanie wizerunku przedsiębiorstwa.
                        </span>
                        <img src="../../images/Cooperation/156005c5baf40ff51a327f1c34f2975b.jpg" class="b-partners-coworking_elem-img pull-right">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>